html, body, #app, .container-fluid, .app-wrapper {
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #fbfbfb;
}

.app-wrapper {
    background: white;
}

.go-back-btn {
    display: block;
    width: 30px;
}

.go-back-btn > span {
    display: block;
    margin: 27px 0;
}

.go-back-btn svg {
    width: 20px;
}