.title {
    margin: 140px 0 170px 0;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

.menu {
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}

.menu-item:first-child {
    margin-bottom: 10px;
}

.menu-item a {
    padding: 13px 17px;
    display: block;
    color: black;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #979797;
    border-radius: 20px;
    max-width: 280px;
    margin: 0 auto;
    text-align: left;
}

.browse {
    color: black;
    font-size: 18px;
    text-align: center;
    display: block;
}

.browse:hover {
    color: black;
    text-decoration: none;
}
